body {
    background-color: #c6c6c6;
    margin: 0px;
}

.wrap {
    display: flex;
    align-items: center;
    width: 375px;
    height: 100vh;
    background-color: white;
    margin: 0 auto;
}

.instagram {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 375px 1fr;
    grid-template-areas: 
    'header'
    'img'
    'footer';
    width: 100%;
    height: 550px;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

.header {
    grid-area: header;
    width: auto;
    height: auto;
    margin: 5px 10px;

    font-weight: bold;
}

.header-left {
    display: flex;
    align-items: center;
    float: left;
}

.header-right {
    display: flex;
    align-items: center;
    float: right;
    height: 100%;
}

.right-menu {
    cursor: pointer;
    user-select: none;
}

.header-img {
    width: 38px;
    height: 38px;
    border: 1px solid black;
    border-radius: 50%;
    margin-right: 10px;
}

.img {
    clear: both;
    grid-area: img;
    width: 100%;
    height: 100%;
}

.img img {
    width: 100%;
    height: 100%;
}

.footer {
    grid-area: footer;
    width: 100%;
    height: 100%;
}