body {
    background-color: #c6c6c6;
    margin: 0px;
}

.wrap {
    display: flex;
    align-items: center;
    width: 375px;
    height: 100vh;
    background-color: white;
    margin: 0 auto;
}

.instagram {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 375px 1fr;
    grid-template-areas: 
    'header'
    'img'
    'footer';
    width: 100%;
    height: 550px;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

.header {
    grid-area: header;
    width: auto;
    height: auto;
    margin: 5px 10px;

    font-weight: bold;
}

.header-left {
    display: flex;
    align-items: center;
    float: left;
}

.header-right {
    display: flex;
    align-items: center;
    float: right;
    height: 100%;
}

.right-menu {
    cursor: pointer;
    user-select: none;
}

.header-img {
    width: 38px;
    height: 38px;
    border: 1px solid black;
    border-radius: 50%;
    margin-right: 10px;
}

.img {
    clear: both;
    grid-area: img;
    width: 100%;
    height: 100%;
}

.img img {
    width: 100%;
    height: 100%;
}

.footer {
    grid-area: footer;
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50px auto auto;
    grid-template-areas: 
    'top-left top-center top-right'
    'like like like'
    'comment comment comment';
}

.top-left {
    grid-area: top-left;
    display: flex;
}


.heart-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#heart {
    width: 55%;
    height: 55%;
}

#heart:hover {
    color: red;
}

#fill-heart {
    display: none;
    width: 55%;
    height: 55%;
    fill: red;
}

.dialog {
    width: 100%;
    height: 100%;
    background: url(./img/dialog.png) center center no-repeat;
}

.DM {
    width: 100%;
    height: 100%;
    background: url(./img/DM.png) center center no-repeat;
}

.top-center {
    grid-area: top-center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-right {
    grid-area: top-right;
    display: flex;
}

.shared {
    width: 100%;
    height: 100%;
    background: url(./img/shared.png) 85% center no-repeat;
}

.like {
    grid-area: like;
    font-size: 14px;
    margin: 0 10px;
}

.comment {
    grid-area: comment;
    font-size: 12px;
    margin: 0 10px;
}

.top-center ul {
    display: flex;
    justify-content: space-between;
    width: 40%;
    list-style: none;
    padding: 0;
}

.top-center ul li:first-child {
    background-color: rgb(0, 174, 255);
}

.top-center ul li {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: lightgray;
}