.wrap {
    background-color: white;
    width: 80%;
    max-width: 1920px;
    margin: 0 auto;
    overflow: hidden;
}

@media screen and (max-width: 767px) {
    .wrap {
        width: 90%;
    }
}

.black-bg {
    position: absolute;
    width: 100%;
    height: 1000px;
    left: 0;
    background-color: black;
    z-index: 1;
}

/* header */

header {
    position: relative;
    text-align: center;
    padding-top: 20px;
    color: white;
    z-index: 10;
}

.corona-link {
    color: white;
    font-weight: bold;
}

.gnb {
    display: grid;
    grid-template-columns: 300px 1fr 300px;
    grid-template-rows: auto auto;
    grid-template-areas: 
    'logo gnb-menu menu'
    'search search search';
}

.logo {
    grid-area: logo;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.gnb-menu {
    grid-area: gnb-menu;
    display: flex;
    align-items: center;
}

.gnb-menu ul {
    display: flex;
    justify-content: space-evenly;
    width: 40%;
    margin: 0 auto;
}

.gnb-menu ul .active::before {
    content: "";
    width: 15px;
    height: 2px;
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.gnb-menu ul li {
    font-weight: bold;
    cursor: pointer;
    position: relative;
    padding-bottom: 10px;
}

.gnb-menu ul li:not(.active):hover {
    color: gray;
}

.gnb-menu ul li:not(.active):hover::before {
    content: "";
    width: 5px;
    height: 2px;
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.menu {
    grid-area: menu;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    width: 80%;
    margin-left: 20%;
}

.menu-hover {
    padding: 10px 10px;
    border-radius: 30px;
}

.menu-hover:hover {
    background-color: rgba(172, 172, 172, 0.3);
}

.profile {
    background-color: white;
    color: gray;
    padding: 10px;
    border-radius: 30px;
    font-weight: bold;
}

.search {
    grid-area: search;
    width: 70%;
    margin: 0 auto;
}

.search-ul {
    display: flex;
    background-color: white;
    color: black;
    border-radius: 50px;
}

.search-ul li {
    width: 25%;
    position: relative;
    padding: 20px 50px 20px 20px;
    font-weight: bold;
    text-align: left;
    border-radius: 50px;
}

.search-ul li:hover {
    background-color: lightgray;
}

.search-ul li + li::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 1px;
    height: calc(100% - calc(20px * 2));
    background-color: lightgray;
}

.search-ul li span {
    color: gray;
    font-size: 12px;
    font-weight: normal;
}

/* notice */

.notice {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    height: 320px;
    background-color: #ff385c;
    border-radius: 14px;
    text-align: center;
    z-index: 10;
}

.notice p {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1.8rem;
    margin-bottom: 2rem;
}

.notice button {
    border: 1px solid white;
    padding: 5px 15px;
    color: white;
    background-color: inherit;
    font-weight: bold;
    border-radius: 14px;
}

/* mainBanner */

.main-banner {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;

    height: 600px;
    padding-bottom: 50px;
    background: url(./img/camp.jpg) 50% 100% no-repeat;
    background-size: cover;

    border-radius: 14px;

    z-index: 10;
}

.main-banner .content {
    color: white;
    text-align: center;
}

.content p {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 2rem;
}

.content button {
    background-color: white;
    padding: 10px 20px;
    font-size: 1.2rem;
    font-weight: bold;
    border: 1px solid white;
    border-radius: 24px;
}

.content button span {
    background-image: linear-gradient(90deg, #6f019c 0%, #c6017e 135.12%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* idea */

.city {
    display: flex;
    width: 100%;
    overflow: auto;
}

.card {
    width: 25%;
    min-width: 250px;
    cursor: pointer;
}

.card + .card {
    margin-left: 30px;
}

.card img {
    display: block;
    width: 100%;
    height: 200px;
    border-radius: 15px 15px 0px 0px;
}

.card figcaption {
    height: calc(200px - calc(24px * 2));
    border-radius: 0px 0px 15px 15px;
    padding: 24px 16px;
    color: white;
}

.card figcaption p {
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 3rem;
}

.card figcaption span {
    font-size: 1rem;
}

@media screen and (max-width: 767px) {
    .city {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
    
    .city::-webkit-scrollbar {
        display: none;
    }

    .card {
        width: 25%;
        min-width: 250px;
        cursor: pointer;
    }
    
    .card + .card {
        margin-left: 15px;
    }
    
    .card figcaption p {
        font-size: 1.3rem;
        line-height: 2rem;
        padding-bottom: 0.5em;
    }
}

/* expression */

.expression {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-gap: 25px;
    grid-template-areas: 
    'heading heading'
    'div1 div2';

    margin-bottom: 50px;
}

@media screen and (max-width: 576px) {
    .expression {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        grid-gap: 15px;
        grid-template-areas: 
        'heading'
        'div1'
        'div2';
    }
}

.heading {
    grid-area: heading;
}

.photoDiv {
    /* width: 100%; */
    height: calc(700px - calc(60px * 2));
    padding: 60px;
    border-radius: 14px;
}

.photoDiv:nth-of-type(1) {
    background: url(./img/travel1.jpg) center center no-repeat ;
    background-size: cover;
}

.photoDiv:nth-of-type(2) {
    background: url(./img/travel2.jpg) center center no-repeat ;
    background-size: cover;
}

.photoDiv p {
    color: white;
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 3rem;
}

.photoDiv button {
    color: black;
    font-weight: bold;
    border: none;
    background-color: white;
    padding: 15px 23px;
    border-radius: 10px;
    margin-top: 1rem;
}

.photoDiv button:hover {
    background-color: lightgray;
}